data/

# C++/CUDA build artifacts
utils/cutils/build/
utils/pointnet2_ops_lib/build/
**/__pycache__/
*.so
*.o
*.pyc
*.pyd
*.ninja*

# WandB
wandb/
wandb-debug.log

# Logs & Outputs
*.log
*.out
*.err

S3DIS/output/model/
ScanNetV2/output/model/
S3DIS/output/visualizations/outputs/
*/output

.vscode/

